# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Women and Gender eXpansive Coders DC
email: organizers@wgxcodersdc.org
description: >- # this means to ignore newlines until "baseurl:"
  Women and Gender eXpansive Coders DC aims to provide a community where women and non-binary members feel empowered to express their learnings, share their experiences, and expand their technical skills.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
linkedin_username: women-and-gender-expansive-coders-dc
github_username: wgxcodersdc
# bluesky_username: wgxcodersdc.bsky.social #uncomment this line to display bluesky social in the footer. The footer will need some tweaking as the username is long and breaks badly, plus we need the bluesky logo.

author: Women and Gender eXpansive Coders DC

# Header navigation - only these pages appear in header
# Privacy policy and Terms of Use are in footer only
header_pages:
  - about.markdown
  - community.markdown

# Build settings
theme: minima
plugins:
  - jekyll-feed
show_excerpts: true
# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
